body {
    background-color: lightcyan;
    color: black;
}


  #login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label, input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .countdown-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }

  #play-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 29%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    border: 5px solid black;
  }
  
